
#infoBox {
  background-color: #725ABA; /* Blue box */
  padding: 20px;
  /*border-radius: 10px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  text-align: center;
}


#banner1 {
 width: 80%;
}
#cont {
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: flex-start; /* Align items horizontally at the center */
  align-items: flex-start; /* Align items vertically at the center */
  background-color: #725ABA; /* Blue box */
}

.item {
  background-color: lightblue; /* Optional: add background color */
  padding: 10px; /* Optional: add padding for spacing */
  margin: 5px; /* Optional: add margin for spacing between items */
}


div#Panes {
  margin-top: 15px;
  padding: 15px
}