/*NAV BAR CSS*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensures the navbar stays above other content */
}

.nav-menu{
  visibility:hidden;
}


.logo img{
  max-height: 150px;
  max-width: 150px; /* Adjust the size of your logo */
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar li {
  margin-right: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


/*TOP FORM UI CSS*/

.top{
  display: flex;
  padding: 0 10px 30px 20px;
  background-color:#7056B7;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.play-store{
  display: flex;
  height: 10%;
  background-color: #202020;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;

}
.play-store h3{
  color: white
}

#registrationForm{
flex: 1
}
.banner{
  width: 100%;
  object-fit: fill;
}

#infoBox {
  background-color: #725ABA; /* Blue box */
  padding: 20px;
  /*border-radius: 10px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

#banner1 {
 width: 100%;
}
.btn{
  width: 100%;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.grid div{
  max-width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.grid p{
  text-align: center;
}
.grid h3{
  text-align: center;
}

.grid img{
  width: 100px;
  height:100px;
}


#cont {
  display: flex;
  background-color: #725ABA;
  flex-direction: column;

}

div.Panes {
  margin-top: 15px;
  padding: 15px
}

@media (max-width: 1242px) {
  .top-img-1{
    width: 0;
    height: 0;
  }
  .top-img-2{
    width:507px;
    height:159px;
    margin: 15px;

  }
  #registrationForm{
    flex: 1;
  }

  .grid div{
    max-width: 50%;

  }
}


@media (max-width: 800px) {

  .logo img{
    max-height: 100px;
    max-width: 100px; /* Adjust the size of your logo */
  }
  .nav-item{
    visibility: collapse;
  }
  .nav-menu{
    visibility:visible;
  }

  #registrationForm{
    flex: 1;
  }
  .top-img-2{
    width: 0;
    height: 0;
  }

  .grid div{
    max-width: 100%;

  }



}
