#messages {
    overflow-y: scroll;
    max-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.container{
    margin: 2px;
    background-color: #573f3f;

}

section {
    display: block;
  }
